<h3>The following information is to be submitted.</h3>

<%= form_with(model: @blog, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>

  <p>タイトル:<%= @blog.title %></p>
  <p>本文:<%= @blog.content %></p>
  <%= form.submit  "Submit" %>
  <%= form.submit "Back", name: 'back' %>
<% end %>