<!DOCTYPE html>
<html>
  <head>
    <title>tomodati_book</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <div id="fix" class="sticky-top"> 
    <div id=header>
      <h1>TOMODATCHI</h1>
    </div>
    <body>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
      <% if logged_in? %>
        <%= link_to "Profile", user_path(current_user.id) %>
        <%= link_to "Feed", feeds_path %>
        <%= link_to "Logout", session_path(current_user.id), method: :delete %>
      <% else %>
        <%= link_to "Sign up", new_user_path %>
        <%= link_to "Login", new_session_path %>
      <% end %>
      <%= link_to "Contact", contacts_path %>
  </div>
  <%= yield %>
  <br><br>
  </body>
  <div id="footer" class="fixed-bottom">
    <p>TOMODATCH_BOOK</p>
  </div>
</html>
